.codeeditor__container {
  margin: 0 11rem;
  margin-bottom: 2rem;
  z-index: 1;
}

.doc__info {
  margin: 2rem auto;
}

.doc__info input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.doc__info .row {
  display: flex;
  width: 70%;
  margin: 2rem auto;
}

.doc__info .row .col {
  flex: 1;
}

/* Accordion styles */
.doc__info .tabs {
  overflow: hidden;
}
.doc__info .tab {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border-left: solid 2px var(--first-color);
}
.doc__info .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: var(--first-color-light);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  /* Icon */
}
.doc__info .tab-label:hover {
  background: var(--body-color);
}
.doc__info .tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  color: var(--first-color);
}
.doc__info .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #fff;
  background: var(--first-color-light);
  transition: all 0.35s;
  overflow: scroll;
}

.doc__info .tab-content p{
 padding-top: 0.5rem;
}



.doc__info .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.doc__info .tab-close:hover {
  background: #1a252f;
}
.doc__info input:checked + .tab-label {
  background: var(--body-color);
}
.doc__info input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.doc__info input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.doc__info .code {
  background: var(--body-color);
  border: solid 1px var(--first-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.doc__info code {
  background: var(--body-color);
}

.doc__info code span{
display: flex;
padding: 0.2rem 0;
flex-direction: column;
font-size: 0.88rem;
}

.code__small{
background-color: var(--body-color);
padding: 0.2rem 0.5rem;
border-radius: 0.5rem;
border: solid 1px var(--first-color);
margin: 0.2rem;
font-size: 0.75rem;
line-height:2.2;
}


/* ---- Table ---- */
.doc__info table {
  margin: 0.8rem 0;
  border: 1px solid var(--first-color);
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}


.doc__info table tr {
  background-color: transparent;
  border: 1px solid var(--first-color);
  padding: .35em;
}

.doc__info table th,
table td {
  padding: .625em;
  text-align: center;
}

.doc__info table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .doc__info table {
    border: 0;
  }

  .doc__info table caption {
    font-size: 1.3em;
  }
  
  .doc__info table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .doc__info table tr {

    display: block;
    margin-bottom: .625em;
  }
  
  .doc__info table td {

    display: block;
    font-size: .8em;
    text-align: right;
  }
  

  .doc__info table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .doc__info table td:last-child {
    border-bottom: 0;
  }
}




/*=============== MEDIA QUERIES ===============*/
/*========== Small devices ==========*/
@media screen and (max-width: 600px) {
  .codeeditor__container {
    margin: 0;
  }

  .tabs{
    width: 100%;
  }

  .doc__info .tabs{
    width: 100%;
  }

  .doc__info {
    margin: 0 auto;
    width: 100%;
  }

  .doc__info .row {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  

}
