.codeeditor__container {
  margin: 0 11rem;
  z-index: 1;
}

.doc__info {
  margin: 2rem auto;
}

.doc__info input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.doc__info .row {
  display: flex;
  width: 70%;
  margin: 2rem auto;
}

.doc__info .row .col {
  flex: 1;
}

/* Accordion styles */
.doc__info .tabs {
  overflow: hidden;
}
.doc__info .tab {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border-left: solid 2px var(--first-color);
}
.doc__info .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: var(--first-color-light);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  /* Icon */
}
.doc__info .tab-label:hover {
  background: var(--body-color);
}
.doc__info .tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  color: var(--first-color);
}
.doc__info .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #fff;
  background: var(--first-color-light);
  transition: all 0.35s;
}

.doc__info .tab-content p{
 padding-top: 0.5rem;
}



.doc__info .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.doc__info .tab-close:hover {
  background: #1a252f;
}
.doc__info input:checked + .tab-label {
  background: var(--body-color);
}
.doc__info input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.doc__info input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.doc__info .code {
  background: var(--body-color);
  border: solid 1px var(--first-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.doc__info code {
  background: var(--body-color);
}

.doc__info code span{
display: flex;
flex-direction: column;
padding: 0;
}

.code__small{
background-color: var(--body-color);
padding: 0.2rem 0.5rem;
border-radius: 0.5rem;
border: solid 1px var(--first-color);
margin: 0.2rem;
}

/*=============== MEDIA QUERIES ===============*/
/*========== Small devices ==========*/
@media screen and (max-width: 600px) {
  .codeeditor__container {
    margin: 0;
  }

  .tabs{
    width: 100%;
  }

  .doc__info .tabs{
    width: 100%;
  }

  .doc__info {
    margin: 0 auto;
    width: 100%;
  }

  .doc__info .row {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  

}
