.readmeprotfolio__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.readmeportfolio__input-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: scroll;
  height: 72vh;
}

.readmeportfolio__input-box h2 {
  margin: 0.5rem 0;
}
.readmeportfolio__input-box input,
textarea {
  background: var(--body-color);
  border: solid 1px var(--first-color-light);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  resize: none;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.readmeportfolio__input-box input:focus {
  background-color: var(--body-color);
  border: solid 1px var(--first-color);
}

.readmeportfolio__input div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
}

.readmeportfolio__input div input {
  width: 100%;
}

/*========== Small devices ==========*/
@media screen and (max-width: 600px) {
  .readmeprotfolio__container {
    grid-template-columns: 1fr;
  }

  .readmeportfolio__input div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    align-items: flex-start;
  }

  .readmeportfolio__input-box input,
  textarea {
    width: 100%;
    padding: 0.5rem;
  }
  .readmeportfolio__input div input {
    width: 100%;
  }
}
